@model List<Course>
@{
	ViewData["Title"] = "Index";
}

<a href="/Course/Create" class="btn btn-primary">ADD Course</a>
<br />
<br />
<table class="table-hover table">
	<thead>
		<tr class="table-success">
			<th scope="col">#</th>
			<th scope="col">Name</th>
			<th scope="col">Degree</th>
			<th scope="col">MinDegree</th>
			<th scope="col">Department</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<th scope="col">@item.Id</th>
				<th scope="col">@item.Name</th>
				<th scope="col">@item.Degree</th>
				<th scope="col">@item.MinDegree</th>
				<th scope="col">@item.Department.Name</th>
				<th scope="col">
					<a href="/Course/Edit/@item.Id">Edit</a>
					<a href="/Course/Delete/@item.Id">Delete</a>
				</th>
			</tr>
		}
	</tbody>
</table>
</table>